* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: #4f3ff0;
    --primary-shadow: rgba(79, 63, 240 , 0.25);
    --secondary: #f53b57;
}

/* Navbar */
.navbar {
    box-shadow: 0 0 30px 0 var(--primary-shadow);
}

.navbar .navbar-brand {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.6rem;
}

.navbar .navbar-brand:hover {
    color: var(--primary);
}

.nav-item {
    position: relative;
}

.nav-link {
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-link::before {
    content: '';
    height: 2px;
    background-color: var(--secondary);
    position: absolute;
    top: 100%;
    right: 100%;
    left: 0;
    bottom: 0;

}

.nav-link:hover::before {
    animation: slide 0.5s ease-in forwards;
}

@keyframes slide {
    0% {
        right: 100%;
    }
    100% {
        right: 0;
    }
}

/* Footer */
footer 
{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#footer-icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 20px;
}

footer .social-icons {
	padding: 10px;
	text-align: center;
}

footer .fa-2x {
	padding: 10px;
	transition: 0.5s;
}

footer .fa-2x:hover {
	color: var(--primary);
}

footer p {
	margin: 20px 0;
	font-size: 1.3rem;
}

footer span {
	margin-left: 8px;
	color: var(--primary);
	font-weight: 600;
	font-size: 1.5rem;
}

@media (max-width: 576px) {
    footer .social-icons {
		padding: 5px;
	}
	footer p { 
		margin: 10px 0;
		font-size: 1rem;
	} 
	.fa-2x {
		font-size: 1.8rem;
    }
}

@media (max-width: 375px) {
    footer p { 
		font-size: 0.8rem;
	}
}