* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: #4f3ff0;
    --primary-shadow: rgba(79, 63, 240 , 0.25);
    --secondary: #f53b57;
}

/* Navbar */
.navbar {
    box-shadow: 0 0 30px 0 var(--primary-shadow);
}

.navbar .navbar-brand {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.6rem;
}

.navbar .navbar-brand:hover {
    color: var(--primary);
}

.nav-item {
    position: relative;
}

.nav-link {
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-link::before {
    content: '';
    height: 2px;
    background-color: var(--secondary);
    position: absolute;
    top: 100%;
    right: 100%;
    left: 0;
    bottom: 0;

}

.nav-link:hover::before {
    animation: slide 0.5s ease-in forwards;
}

@keyframes slide {
    0% {
        right: 100%;
    }
    100% {
        right: 0;
    }
}